.sum {
  border: 2px solid black;
  border-radius: 10px;
  width: 34%;
  height: 45%;
  padding-left: 30px;
  position: absolute;
  top: 27%;
  left: 30%;
  font-size: 27px;
  background-color: darkgoldenrod;
}
button{
    margin-left: 50px;
}
.sum button:hover {
  transform: translateY(-10px);
  transition: 0.5s;
  background-color: burlywood;
}
.sum input {
  margin-top: 40px;
  border-radius: 10px;
  width: 200px;
  height: 25px;
  padding-right: 10px;
}
.ans {
  margin-left: 120px;
  padding-left: 50px;
}
.first {
  margin-left: 10px;
  margin-bottom: 40px;
}
